---
import { IconTwitter, IconInstagram, IconRSS } from "~/components/icons";
const {} = Astro.props;
const year = new Date().getFullYear();
---

<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:items-center md:justify-between py-4 md:py-8">
      <ul class="flex mb-6 md:order-1 md:ml-4 md:mb-0">
        <li>
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-700 dark:text-gray-400 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 p-1.5"
            aria-label="Twitter"
            href="#"
          >
            <IconTwitter />
          </a>
        </li>
        <li class="ml-4">
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-700 dark:text-gray-400 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 p-1.5"
            aria-label="Instagram"
            href="#"
          >
            <IconInstagram />
          </a>
        </li>
        <li class="ml-4">
          <a
            class="flex justify-center items-center text-gray-600 hover:text-gray-700 dark:text-gray-400 bg-white hover:bg-white-100 rounded-full shadow transition duration-150 ease-in-out dark:bg-gray-800 p-1.5"
            aria-label="Twitter"
            href="/rss.xml"
          >
            <IconRSS />
          </a>
        </li>
      </ul>
      <div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
        &copy; {year} Anindito Bhagawanta
      </div>
    </div>
  </div>
</footer>
