---
import Picture from "~/components/core/Picture.astro";
const {} = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="text-left pb-12 md:pb-16">
        <h1
          class="text-5xl text-mint-11 dark:text-mint-11 md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4"
        >
          Anindito Bhagawanta
        </h1>
        <div class="max-w-3xl">
          <p class="text-xl text-mint-12 mb-8 dark:text-mint-12">
            AstroWind is a production ready template to start your new website
            using Astro + Tailwind CSS. It has been designed following Best
            Practices, SEO, Accessibility, Dark Mode, great Page Speed, image
            optimization, sitemap generation and more.
          </p>
          <div class="max-w-none flex justify-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
