---
const {} = Astro.props;
---

<div class="max-w-6xl mx-auto px-4 sm:px-6">
  <div class="py-12 md:py-20">
    <div class="text-left pb-12 md:pb-16">
      <h1
        class="text-5xl text-mint-11 dark:text-mint-11 md:text-[3.50rem] font-bold tracking-normal mb-6"
      >
        Anindito Bhagawanta
      </h1>
      <div class="max-w-3xl">
        <p class="text-xl text-mint-12 mb-8 dark:text-mint-12">
          AstroWind is a production ready template to start your new website
          using Astro + Tailwind CSS. It has been designed following Best
          Practices, SEO, Accessibility, Dark Mode, great Page Speed, image
          optimization, sitemap generation and more.
        </p>
        <a
          class="transition ease-in-out duration-150 text-xl text-mint-11 mb-8 dark:text-mint-11"
          href="/projects/"
        >
          Projects
        </a>
      </div>
    </div>
  </div>
</div>
