---
import "~/assets/styles/base.css";

import MetaTags from "~/components/core/MetaTags.astro";
import BasicScripts from "~/components/core/BasicScripts.astro";

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags {...meta} />
  </head>

  <body
    class="antialiased text-sage-11 dark:text-sage-11 bg-sage-3 dark:bg-sage-3"
  >
    <slot />
    <BasicScripts />
  </body>
</html>
